.app-gallery-item {
  display: inline-block;
  background-color: #E8088C;
}

body {
  font: monospace;
}

a {
  font-style: italic;
}

div {
  outline-style: double;
}

.thumb {
  height: 50px;
  width: 50px;
}

div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
