<!-- <div ng-init="clicked=false"  class="app-gallery-item">
 <img class="thumb" ng-click="clicked=!clicked" ng-src="{{imgSrc}}"/>
 <img ng-show="clicked" ng-src="{{imgSrc}}"/>
 <a href="{{imgSrc}}">{{title}}</a>
 <p> {{desc}} </p>
 <app-edit-gallery-item-form title='title' desc='desc'></app-edit-gallery-item-form>
</div>


<div class="app-gallery-item">
  <img ng-src="{{appGalleryItemCtrl.image.imageUrl}}"/>
  <h2>{{appGalleryItemCtrl.image.title}}</h2>

  <app-gallery-item-form submit="appGalleryItemForm.updateImage(image)" btn-title="Update Image">
  </app-gallery-item-form>

</div> -->

<div class="app-gallery-item">
  <img ng-src="{{appGalleryItemCtrl.image.imageUrl}}"/>
  <h2> {{appGalleryItemCtrl.image.title}} </h2>
  <app-gallery-item-form submit="appGalleryItemCtrl.updateImage(image)" btn-title="update image"> </app-gallery-item-form>
</div>
