@import "_theme";

// .mainTitle {
//   font-family: 'Indie Flower', cursive;
//   font-size: 50px;
//   font-style: italic;
//   color: #ef81cc;
// }

.app-header {
  border-bottom: 4px double;

  header {
    position: relative;
    width: 100%;
    background-color: $app-default;
    font-family: monospace;
  }

  .header-logo {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    font-style: italic;
    color: #ef81cc;
    padding-top: 100px;
    background-color: #23aa19;
    opacity: 0.8;
    // display: inline-block;
    // padding-left: 20px;
    // padding-top: 5px;
    // margin-bottom: 15px;

    // i {
    //   display: inline-block;
    //   border: 2px solid $app-clight;
    //   padding: 5px;
    //   padding-bottom: 6px;
    //   color: $app-clight;
    //   font-size: 3em;
    //
    // }

    h1 {
      // margin-left: -2px;
      font-size: 3em;
      // display: inline-block;
      // background-color: $app-light;
      padding: 4px;
      padding-top: 15px;
      // border: 2px solid;
      font-weight: bolder;
    }
  }

  .gallery-view-selector {
    position: absolute;
    margin-top: 25px;
    min-width: 200px;

    button {
      // border-radius: 0px;
      // border: 2px solid $app-dark;
      font-size: 1em;
      padding: 10px;
    }
  }

  // .header-padding {
  //   height: 40px;
  //   width: 100%;
  //   background-color: $app-light;
  // }
}
