<header class="app-header">
  <section class="header-logo">
    <!-- <i class="fa fa-bug fa-3x" aria-hidden="true"></i> -->
    <h1> Cupcakes Gallery </h1>
  </section>

  <nav class="btn-group gallery-view-selector">
    <button class="btn btn-default" ng-click="selectGalleryStyle({style: 'list'})">List</button>
    <button class="btn btn-default" ng-click="selectGalleryStyle({style: 'thumb'})">Thumbnail</button>
    <button class="btn btn-default" ng-click="selectGalleryStyle({style: 'image'})">Gallery</button>
  </nav>
  <div class="header-padding"></div>
</header>
