@import './vendor/normalize.scss';
@import './vendor/bootstrap.scss';
@import './lib/_theme.scss';
@import './vendor/font-awesome/scss/font-awesome.scss';

html, body {
  background-color: $app-mint;
  font-family: monospace;
  font-size: 20px;
  height: 100%;
};

// nav {
//     width: 100%;
//     background: #dfadfa;
//     border: 1px solid #ccc;
//     border-right: none;
//     font-family: Merienda,cursive;
//     text-align: center;
//     vertical-align: center;
// }
//
// nav ul {
//     overflow: hidden;
//     margin: 0;
//     padding: 0;
// }
//
// nav ul li {
//     list-style: none;
//     float: left;
//     text-align: center;
//     border-left: 1px solid #fff;
//     border-right: 1px solid #ccc;
//     width: 16.6667%; /* fallback for non-calc() browsers */
//     width: calc(100% / 6);
//     box-sizing: border-box;
// }
//
// nav ul li:first-child {
//     border-left: none;
// }
//
// nav ul li a {
//     display: block;
//     text-decoration: underline;
//     color: #FF5333;
//     opacity: 0.75;
//     padding: 10px 0;
// }
